body {
  margin: 0;
  color: white;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

.keyboard {
  display: flex;
  height: 200px;

  .key {
    button {
      width: calc(100vw / 7);
      height: 100%;
      background-color: white;
      border: 2px solid black;

    }

    &.-is-white:not(:first-child) button {
      border-left: none;
    }

    &.-is-black {
      position: relative;

      button {
        position: absolute;
        height: 80%;
        width: calc(100vw / 10);
        left: calc(100vw / -20);
        background-color: black;
      }
    }

    button.-is-pressed {
      background-color: purple;
    }
  }
}

.overlay {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;

  h2 {
    text-transform: uppercase;
  }
}

.oscillators {
  display: flex;
  margin: 0 5px;

  form {
    flex-basis: 50%;
    margin: 0 5px;
  }

  fieldset {
    margin: 1rem 0;
    border-color: lime;
  }

  legend {
    color: lime;
  }

  label {
    display: block;
  }
}